* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    margin: 1em 5% 0 5%;
    padding: 1em;
    width: 90%;
    border-radius: 1em;
    background: rgb(0, 56, 0);
    color: rgba(255, 255, 255, 0.961);
    font-size: large;
}

button:active {
    color: rgb(0, 56, 0);
    background: rgba(255, 255, 255, 0.961);
}
.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size:smaller;
}
.event {
    margin: 1em 2em;
    min-width: 25%;
}

.event > span {
    font-weight: bold;
}

li {
    list-style: none;
}
